<div ng-if="($ctrl.field.show_if) ? $ctrl.showIf($ctrl.field.show_if) : true">
    <ul class="flex-row list-unstyled">
      	<li style="margin-right: 10px;"><label>{{$ctrl.field.label}}</label></li>
        <li ng-repeat="option in $ctrl.field.options" >
            <button  type="button" class="btn btn-sm"
                ng-init = "$ctrl.item[$ctrl.name] || $ctrl.field.default"      
                ng-click="$ctrl.item[$ctrl.name] = option.value" 
                ng-class="{'btn-primary': (!$ctrl.item[$ctrl.name] && option.value == $ctrl.field.default) || $ctrl.item[$ctrl.name] == option.value, 'btn-default': $ctrl.item[$ctrl.name] && $ctrl.item[$ctrl.name] != option.value}">
                {{option.caption}}
            </button>
        <li>
    </ul>
</div>