<div 
ng-class="{'hidden': ($ctrl.field.lan && $ctrl.field.lan != $ctrl.parent.lan) || $ctrl.field.display == false}">

    <label>{{$ctrl.field.label}}</label>
    <input  id="{{$ctrl.name}}" 
        ng-required="$ctrl.field.required" 
        ng-disabled="{{$ctrl.field.disabled}}"  
        aria-label="{{$ctrl.field.label}}" 
        name="{{$ctrl.field.name}}" 
        maxlength="{{$ctrl.field.maxlength}}" dyn-attrs 
        ng-attr-name="{{$ctrl.name}}" 
        ng-pattern="$ctrl.field.pattern"                        
        dyns="{{$ctrl.field.dyns}}" 
        ng-model="$ctrl.item[$ctrl.name]">

    <span ng-if="$ctrl.field.sufix" class="sufix">{{$ctrl.field.sufix}}</span>
</div>
<p ng-if="$ctrl.parent.form[$ctrl.name].$pending">Wait...</p>

<div ng-if="$ctrl.parent.form[$ctrl.name].$invalid">
    <div ng-messages="!$ctrl.parent.form.parent.$submitted && $ctrl.parent.form[$ctrl.name].$error">
        <div ng-repeat="err in $ctrl.field.validation" ng-message="{{err.validator}}">
            <span style="color: red;" ng-if="$ctrl.parent.form[$ctrl.name].$error[err.validator]">{{err.error}}.</span>
        </div>
    </div>
</div>