<div ng-if="($ctrl.field.show_if) ? $ctrl.showIf($ctrl.field.show_if) : true">
	<label>{{$ctrl.field.label}}</label>

	<item-set-comp ng-if="$ctrl.field.object && $ctrl.item[$ctrl.field.object][$ctrl.name]"
		set="$ctrl.item[$ctrl.name]" 
		value="$ctrl.item[$ctrl.field.object][$ctrl.name]">
	</item-set-comp>

	<md-datepicker 	
		ng-init="$ctrl.item[$ctrl.name] = ($ctrl.item[$ctrl.name] | convertDate)"
		ng-model="$ctrl.item[$ctrl.name]"	
		md-min-date="($ctrl.field.minDate) ? $ctrl.item[$ctrl.field.minDate] : ''" 
		ng-disabled="($ctrl.field.minDate && !$ctrl.item[$ctrl.field.minDate]) || $ctrl.field.disabled == true" 
		ng-required="$ctrl.field.is_required || false">
	</md-datepicker>

	<!--Errors-->
	<div ng-include="'templates/components/error-message.html'"></div>
	<!--/Errors-->
</div>