<!--Permission-->
<auth-current-comp ng-if="$ctrl.field.module" is-auth="$ctrl.permission" module="{{$ctrl.field.module}}"></auth-current-comp>
<!--/Permission-->

<div ng-if="($ctrl.field.show_if) ? $ctrl.showIf($ctrl.field.show_if) : true" ng-switch on="$ctrl.field.type_option">
	
	<button type="button" ng-switch-when="boolean" 
		class="btn btn-link {{$ctrl.field.class}}" 
		ng-click="$ctrl.changeState($ctrl.name, $ctrl.field.callback)" 
		ng-init="$ctrl.item[$ctrl.name] = ($ctrl.item[$ctrl.name] != true && $ctrl.item[$ctrl.name] != false && $ctrl.item[$ctrl.name] != 0 && $ctrl.item[$ctrl.name] != 1) ? $ctrl.field.default : $ctrl.item[$ctrl.name]"
		ng-disabled="$ctrl.field.module && !$ctrl.permission.all && !$ctrl.permission.canActivate">
	    <span class="glyphicon" ng-class="{'glyphicon-check': $ctrl.item[$ctrl.name] == 1 || $ctrl.item[$ctrl.name] == true, 'glyphicon-unchecked': $ctrl.item[$ctrl.name] != 1 && $ctrl.item[$ctrl.name] != true}">
	    </span>    
	    {{$ctrl.field.label}}
	</button>            
	<!--/Boolean-->

	<!--Option-->
	<ul ng-switch-default class="flex-row list-unstyled">
		<li style="margin-right: 10px;"><label>{{$ctrl.field.label}}</label></li>
		<li ng-repeat="option in $ctrl.field.options" >
			<button  type="button" class="btn btn-sm"
			ng-init = "$ctrl.item[$ctrl.name] = ($ctrl.operation.params[$ctrl.name]) ? $ctrl.operation.params[$ctrl.name] : ($ctrl.item[$ctrl.name] || $ctrl.field.default)"			
			ng-click="$ctrl.item[$ctrl.name] = option.value" 
			ng-class="{'btn-primary': (!$ctrl.item[$ctrl.name] && option.value == $ctrl.field.default) || $ctrl.item[$ctrl.name] == option.value, 'btn-default': $ctrl.item[$ctrl.name] && $ctrl.item[$ctrl.name] != option.value}">
				{{option.caption}}
			</button>
		<li>
	</ul>
	<!--/Option-->
</div>