<md-input-container class="md-block {{$ctrl.field.classControl}}" ng-class="{'hidden': ($ctrl.field.lan && $ctrl.field.lan != $ctrl.parent.lan) || $ctrl.field.display == false}">
	<label>{{$ctrl.field.label}}</label>
	<span ng-switch on="$ctrl.field.type_varchar" style="width: 100%;">
		<input ng-switch-default class="col-xs-12" 
			ng-required="$ctrl.field.is_required"
			ng-disabled="{{$ctrl.field.disabled}}"  
			md-no-asterisk aria-label="{{$ctrl.field.label}}"
			name="{{$ctrl.field.name}}" 
			maxlength="{{$ctrl.field.maxlength}}"
			ng-change="$ctrl.trigger()" 
			ng-model="$ctrl.item[$ctrl.name]">

		<textarea ng-switch-when="textarea" data-ui-tinymce
			aria-label="{{$ctrl.field.label}}" 
			class="col-xs-12"
			rows="5" 
			name="{{$ctrl.name}}" 
			ng-model="$ctrl.item[$ctrl.name]"
			ng-required="$ctrl.field.is_required" 
			ng-disabled="{{$ctrl.field.disabled}}" 
			md-no-asterisk >
		</textarea>

	</span>

	<!--Set value from object-->
	<item-set-comp ng-if="$ctrl.field.object" 
    	set="$ctrl.item[$ctrl.name]" 
    	value="$ctrl.item[$ctrl.object][$ctrl.name]">
	</item-set-comp>
	<!--/Set value from object-->

	<span ng-if="$ctrl.field.sufix" class="color-primary-darkest" style="padding-top: 5px; padding-left: 10px; font-weight: bold;">
		{{$ctrl.field.sufix}}
	</span>
	
	<!--Errors-->
	<div ng-include="'templates/components/error-message.html'" 
		style=""></div>
	<!--/Errors-->	
	
</md-input-container>