<div ng-if="$ctrl.list.length>0">
    <ul class="list-unstyled">
    	<!--List-->      
        <li dir-paginate="el in $ctrl.list | itemsPerPage: $ctrl.size" current-page="$ctrl.page" pagination-id="{{$ctrl.router + $ctrl.action}}" style="margin-bottom:5px; word-break: break-word;">        

        	<button type="button" class="btn btn-link"  ng-init="el.selected = false" style="white-space: inherit;text-align: left;" 
                ng-click="$ctrl.collection = $ctrl.toggle($ctrl.collection, el); $ctrl.item = $ctrl.getIds($ctrl.collection, $ctrl.field); el.selected = !el.selected">
                <span class="glyphicon" ng-class="{'glyphicon-unchecked': !el.selected,'glyphicon-check': el.selected == true}"></span> 
                <span>{{el[$ctrl.caption]}}</span>
    	  	</button>
    		    		
        </li>
        <li ng-if="$ctrl.item">
            <button type="button" class="btn btn-link" ng-click="$ctrl.collection = []; $ctrl.item = ''; $ctrl.clearFilter($ctrl.list)">
                <span class="glyphicon glyphicon-remove"></span> Borrar este filtro
            </button>
        </li>
        <!--/List-->
    </ul>

    <!-- Pagination -->
    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="$ctrl.list.length>0">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" pagination-id="$ctrl.router + $ctrl.action" template-url="templates/components/pagination.html"></dir-pagination-controls>
        </div>
    </div>
    <!--/Pagination-->
</div>