<!--Permissions-->
<auth-current-comp ng-if="$ctrl.module" is-auth="$ctrl.userAllows"
	module="{{$ctrl.module}}">
</auth-current-comp>  
<!--/Permissions-->

<span ng-if="$ctrl.list.length == 0" class="alert alert-warning">Sin datos registrados</span>

<item-set-comp ng-if="$ctrl.list.length>0 && $ctrl.item.selected.id && !$ctrl.item.selected[$ctrl.caption]"
	set="$ctrl.item.selected" 
	value="$ctrl.inCollection($ctrl.list, $ctrl.item.selected)">	
</item-set-comp>

<select ng-if="$ctrl.list.length>0 && !$ctrl.item.edit" ng-model="$ctrl.item.selected" 	
	ng-options="el as el[$ctrl.caption] for el in $ctrl.list track by el.id">
    <option value="">- Seleccione -</option>    
</select>

<span ng-if="$ctrl.module && $ctrl.userAllows.all || $ctrl.userAllows.canUpdate == true">
	<span ng-if="$ctrl.item.edit == false ">
		<button type="button" ng-if="$ctrl.item.selected.id && $ctrl.item.selected[$ctrl.caption]" class="btn btn-link bg-color-light-gray btn-form-border"
		ng-click="$ctrl.item.edit = true;">
		    <span class="glyphicon glyphicon-pencil"></span> Editar
		</button>

		<button type="button" class="btn btn-link bg-color-light-gray btn-form-border"
			ng-click="$ctrl.item.selected = {};$ctrl.item.edit = true">
			<span class="glyphicon glyphicon-plus"></span> Agregar
		</button>
	</span>
	<h4 ng-if="$ctrl.item.edit == true">
		<span ng-if="$ctrl.item.selected.id">
			Editando
		</span>
		<span ng-if="!$ctrl.item.selected.id">Agregar</span>
	</h4>
</span>