      </div>

      <!-- Footer -->
      <div class="footer">
        <div class="copyright">Copyright {global.yearCreated} {global.companyName} | All Rights Reserved</div>
      </div>
    </div>
  </body>

  <script type="text/javascript" charset="utf-8" src="public/angular/app.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/config.js"></script>
  
  <script type="text/javascript" charset="utf-8" src="public/angular/services/data.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/services/form.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/services/label.js"></script>

  <script type="text/javascript" charset="utf-8" src="public/angular/components/collection.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/components/edit.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/components/form.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/components/message.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/components/lang.js"></script>
  
  <script type="text/javascript" charset="utf-8" src="public/angular/directives/duplicate.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/directives/dyn-attrs.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/directives/dyn-labels.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/directives/get-object.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/directives/match.js"></script>
  <script type="text/javascript" charset="utf-8" src="public/angular/filters.js"></script>
</html>