<label>{{$ctrl.field.label}}</label>
<!--Permissions-->
<auth-current-comp is-auth="$ctrl.permission" module="{{$ctrl.field.module}}"></auth-current-comp>  
<!--/Permissions-->

<div ng-init="$ctrl.selected = $ctrl.field.open">
	<!--Options-->
	<div class="row" ng-if="$ctrl.field.options.length>1">
		<div class="col-xs-12 {{$ctrl.field.class}}">			
			<div class="btn-group" role="group" aria-label="Opciones">
			  <button ng-if="option.caption" type="button" class="btn btn-sm font-uppercase" style="font-size: 80%;" 
				ng-repeat="option in $ctrl.field.options" 
				ng-click="$ctrl.selected = option.value" 
				ng-class="{'btn-primary': option.value == $ctrl.selected, 'btn-default': $ctrl.selected != option.value}">
				{{option.caption}}
				</button>
			</div>
		</div>
	</div>
	<!--/Options-->
	<!--Sections-->
	<div class="row" ng-repeat="section in $ctrl.field.sections">
		<div ng-if="section.fields" ng-repeat="fieldSection in section.fields" class="col-xs-12 {{fieldSection.class}}" ng-class="{'hidden': section.name != $ctrl.selected}">
			<!--Fields-->
			<div class="{{section.class}}">			
			<field-form-comp ng-if="fieldSection.type" name="{{fieldSection.name}}" 
		       	field-type="{{fieldSection.type}}" 
		       	field="fieldSection"         
		       	item="$ctrl.parent.sections[section.name]">          
		     </field-form-comp> 		      	
		 	</div>
			<!--/Fields-->
		</div>	
	</div>
	<!--/Sections-->
</div>