<label>{{$ctrl.field.label}}</label>
<input type="hidden" ng-model="$ctrl.item[$ctrl.name]" name="{{$ctrl.name}}" ng-required="$ctrl.field.is_required"> 

<!--Permissions-->
<auth-current-comp ng-if="$ctrl.field.module" is-auth="$ctrl.permission" module="{{$ctrl.field.module}}"></auth-current-comp>
<!--/Permissions-->

<!--Source-->
<ul class="list-unstyled list-inline" ng-init="$ctrl.sourceCollection = $ctrl.parent.options.params[$ctrl.collection.source].value;">
	<!--Empty Source-->
    <li ng-if="$ctrl.sourceCollection.length == 0">
        <div class="alert alert-warning">La colección de datos está vacía.</div>
    </li>
	<!--/Empty Source-->

	<!--Source list-->
    <li ng-repeat="el in $ctrl.sourceCollection" class="{{$ctrl.collection.item_class}}" style="margin-bottom:10px;" ng-init="$ctrl.filter[$index] = {};">
        <item-set-comp set="$ctrl.filter[$index][$ctrl.collection.filterField]" value="el[$ctrl.collection.filterField]"></item-set-comp>

        <collection-comp ng-if="$ctrl.collection.filterField" action="in" collection="$ctrl.item[$ctrl.name]" filters="$ctrl.filter[$index]" result="el.included"></collection-comp>        

    	<div class="btn-group btn-form-border" aria-label="{{$ctrl.field.label}}" style="border-width: 2px; border-style: dotted; width: 100%;" role="group" >

    		<!--Edit-->
  			<button type="button" class="btn btn-link" 
                ng-click="el.included = !el.included; $ctrl.item[$ctrl.name] = $ctrl.toggle($ctrl.item[$ctrl.name], el);">
                
                <!--Set element selected-->
                <item-set-comp ng-if="el.included == true" set="el.selected" value="true"></item-set-comp>
                
                <span class="glyphicon" ng-class="{'glyphicon-unchecked': !el.included,'glyphicon-check': el.included == true}"></span>
                
                <!--Custom Template-->
                <span ng-if="$ctrl.collection.dataLabel" class="complete-label" dyn-labels labels="$ctrl.collection.dataLabel" source="el" complete-label="el.completeLabel">
                    {{el.completeLabel}}
                </span>
	    		<span ng-if="$ctrl.collection.template" ng-include="'templates/' + $ctrl.collection.template + '.html'"></span>
	    		<!--/Custom Template-->                
	    	</button>
			<!--/Edit-->			
		</div>	    
    </li>
    <!--/Source list-->    
    <li ng-if="$ctrl.nestedForm">           
        <!--Add-->
        <button type="button" class="btn btn-link bg-color-light-gray btn-form-border" 
            ng-disabled="$ctrl.permission.required == true && !$ctrl.permission.all && !$ctrl.permission.canInsert"         
            ng-click="$ctrl.showForm = true; $ctrl.itemCollection = {}">
            <!--Button label-->
            <span class="glyphicon glyphicon-plus-sign"></span> {{$ctrl.collection.button_label || 'Agregar'}}
            <!--/Button label-->
        </button>
        <!--/Add-->
    </li>
</ul>
<!--/Source-->

<label>Selección</label>
<!--Group selected-->
<ul class="list-unstyled list-inline">
    <!--Empty Group-->
    <li ng-if="!$ctrl.item[$ctrl.name] || $ctrl.item[$ctrl.name].length == 0"> 
        <div class="alert alert-warning">{{$ctrl.field.collection.empty_message}}.</div>
    </li>
    <!--/Empty Group-->

    <!--Group list-->
    <li ng-repeat="el in $ctrl.item[$ctrl.name]" style="margin-bottom:10px;">        
        <div class="btn-group btn-form-border" style="border-width: 2px; border-style: dotted;" role="group" aria-label="">
            <!--Edit-->
            <button type="button" class="btn btn-link" 
                ng-click="el.included = false; $ctrl.item[$ctrl.name] = $ctrl.toggle($ctrl.item[$ctrl.name], el); ">
                <!--Custom Template-->                                
                <span ng-if="$ctrl.collection.template" ng-include="'templates/' + $ctrl.collection.template + '.html'"></span> 
                <span ng-if="$ctrl.collection.dataLabel" class="complete-label" dyn-labels labels="$ctrl.collection.dataLabel" source="el" complete-label="el.completeLabel">
                    {{el.completeLabel}}
                </span>
                <span class="glyphicon glyphicon-remove"></span> 
                <!--/Custom Template-->
            </button>
            <!--/Edit-->            
        </div>      
    </li>
    <!--/Group list-->    
</ul>
<!--/Group selected-->


<!--Nested Form-->
<div ng-if="$ctrl.nestedForm">    
    <!--Nested Form-->
    <div ng-if="$ctrl.showForm == true" class="modal-form">
        <div class="modal-inner" >                  
            <form-comp form-name="{{$ctrl.nestedForm.form}}" 
                item="$ctrl.itemCollection" 
                open="$ctrl.showForm" 
                options="{redirect: false, router: $ctrl.nestedForm.router, saveBefore: true, params: $ctrl.setParams($ctrl.nestedForm.params), 
                multilingual: $ctrl.nestedForm.multilingual, title: $ctrl.collection.title}"
                on-save="$ctrl.parent.add($event, $ctrl.sourceCollection, $ctrl.nestedForm.relation)">  
            </form-comp>               
        </div>
    </div>    
</div>
<!--/Nested Form-->

<!--Errors-->
<div ng-include="'public/angular/templates/error-message.html'"></div>
<!--/Errors-->