<input type="hidden" name="{{$ctrl.field.name}}" ng-init="$ctrl.item[$ctrl.name] = $ctrl.parent.options.params[$ctrl.name].value"
 ng-model="$ctrl.item[$ctrl.name]">

<div ng-if="$ctrl.field.dataLabel" class="{{$ctrl.field.class}}">
	<label ng-if="$ctrl.field.label">{{$ctrl.field.label}}</label>
	<span style="float: right; margin-top: 0;" dyn-labels
		labels="$ctrl.field.dataLabel"
		source="$ctrl.item"
		complete-label="$ctrl.completeLabel"
	>{{$ctrl.completeLabel}}
	</span>
</div>
<!--Errors-->
<div ng-include="'public/angular/templates/error-message.html'"></div>
<!--/Errors-->